{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Add Book{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container" style="margin: 50px auto">
    <div class="jumbotron">
        <div style="text-align: center">
            <h2 style="font-weight: bolder"><u>Add Book</u></h2>
        </div>
        {{ wtf.quick_form(form, novalidate = True) }}
    </div>
</div>
{% endblock %}